@charset "utf-8"
@import "../node_modules/bulma/bulma.sass"

html, body
    width: 100vw
    height: 100vh
    margin: 0
    padding: 0
    overflow: hidden

.fullscreen
    width: 100%
    height: 100%

.right
    position: absolute
    top: 0
    right: 0
    width: 300px
    height: 100%

    transform: translateX(300px)
    transition: all .9s ease-out

    &.active
        transform: translateX(0)


.bg-opacity
    background-color: rgba(0, 0, 0, 0.5)

.is-size-big
    font-size: 150px

.big-font-title
    font-size: 200px

.emoji
    overflow: visible
.offset-up
    margin: -50px

.height-one-third
    height: 33vh

.is-spaced-down
    margin-bottom: 20px
    margin-top: 20px

.fullscreen-overlay-center
    position: absolute
    width: 100vw
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    pointer-events: none

.emoji
    transform: scale(0)
    transition: all 0.7s cubic-bezier(.17,-.4,.89,.4)

    &.active
        transform: scale(1)
        transition: all 0.7s cubic-bezier(.87,.4,.19,2.14)

.video-container
    

video
    position: absolute
    z-index: 0
    background-size: 100% 100%
    top: 0px
    left: 0px
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    object-fit: cover